# Hamoye Stage A Quiz

## Import relevant libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Extracting the Dataset  - Electric Utility Dataset

### From the url link

In [2]:
raw_fuel_data = pd.read_csv("https://bit.ly/HDSC-StageOneDataset")

raw_fuel_data.to_csv("Electric Utility Dataset.csv", index = False) #Save the data to my pc as "Fuel Data"

### From the saved folder

In [3]:
raw_fuel_data = pd.read_csv("Electric Utility Dataset.csv")

In [4]:
#Display all rows and columns in the dataset
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [7]:
#Display first 100 rows of Dataset
raw_fuel_data.head(100)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.210,45.990,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.770,2.770,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.240,43.250,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.770,0.000,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.540,55.130,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.970,34.650,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.730,28.110,1.278
10,f1_fuel_1994_12_4_0_2,4,1994,units 1-3,gas,mcf,262720.0,1.026000,1.940,1.940,13.900
11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779.0,22.428000,28.710,28.110,1.280
12,f1_fuel_1994_12_4_0_5,4,1994,unit 4,gas,mcf,6673.0,1.026000,1.940,1.940,1.900
13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558.0,25.038000,30.248,29.019,1.208
14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,oil,bbl,6510.0,5.875338,32.130,23.444,5.469
15,f1_fuel_1994_12_6_0_4,6,1994,amos-apco share,coal,ton,3520831.0,24.508000,44.404,42.915,1.812
16,f1_fuel_1994_12_6_0_7,6,1994,amos-total,coal,ton,5327281.0,24.538000,44.312,42.940,1.806
17,f1_fuel_1994_12_6_0_10,6,1994,glen lyn,coal,ton,666975.0,25.836000,36.268,32.893,1.404
18,f1_fuel_1994_12_6_0_13,6,1994,kanawha river,coal,ton,391864.0,25.160000,46.024,42.034,1.829
19,f1_fuel_1994_12_6_0_14,6,1994,kanawha river,oil,bbl,3505.0,5.774958,33.321,26.280,5.770
20,f1_fuel_1994_12_6_1_7,6,1994,mountainr,coal,ton,2837040.0,24.526000,39.911,38.717,1.627
21,f1_fuel_1994_12_6_1_8,6,1994,mountainr,oil,bbl,50013.0,5.845644,30.319,23.884,5.187
22,f1_fuel_1994_12_6_1_10,6,1994,philip sporn-apco,coal,ton,383043.0,24.334000,39.850,35.856,1.638
23,f1_fuel_1994_12_6_1_11,6,1994,philip sporn-apco,oil,bbl,13969.0,5.742870,32.184,30.508,5.604
24,f1_fuel_1994_12_6_1_13,6,1994,philip sporn ttl plt,coal,ton,1338459.0,24.334000,40.144,35.793,1.650
25,f1_fuel_1994_12_6_1_14,6,1994,philip sporn ttl plt,oil,bbl,48750.0,5.742828,32.186,30.507,5.605
26,f1_fuel_1994_12_7_0_1,7,1994,"cholla units 1,2,3",coal,ton,2062799.0,19.970000,31.520,31.200,1.580
27,f1_fuel_1994_12_7_0_2,7,1994,"cholla units 1,2,3",oil,bbl,10088.0,5.851020,32.650,28.730,5.580
28,f1_fuel_1994_12_7_0_3,7,1994,"cholla units 1,2,3",gas,mcf,38086.0,0.880901,2.490,2.480,2.820
29,f1_fuel_1994_12_7_0_7,7,1994,4 corners,coal,ton,2599962.0,17.530000,21.170,20.860,1.210
30,f1_fuel_1994_12_7_0_8,7,1994,4 corners,gas,mcf,230205.0,1.015424,2.690,2.690,2.650
31,f1_fuel_1994_12_7_0_10,7,1994,4 corners,coal,ton,867805.0,17.520000,21.990,21.050,1.260
32,f1_fuel_1994_12_7_0_11,7,1994,4 corners,gas,mcf,45116.0,1.015048,2.980,2.980,2.940
33,f1_fuel_1994_12_7_0_13,7,1994,ocotillo 1&2,gas,mcf,2996148.0,1.021877,2.180,2.170,2.130
34,f1_fuel_1994_12_7_1_1,7,1994,saguaro units 1&2,oil,bbl,1639.0,5.915742,33.700,32.060,5.700
35,f1_fuel_1994_12_7_1_2,7,1994,saguaro units 1&2,gas,mcf,1759325.0,1.027979,2.210,2.200,2.150
36,f1_fuel_1994_12_7_1_4,7,1994,yucca 1,oil,bbl,477.0,6.257034,39.140,39.140,6.350
37,f1_fuel_1994_12_7_1_5,7,1994,yucca 1,gas,mcf,342285.0,1.023303,2.380,2.380,2.320
38,f1_fuel_1994_12_7_1_10,7,1994,"navajo 1,2,3",coal,ton,1063986.0,22.028000,24.020,23.640,1.090
39,f1_fuel_1994_12_7_2_2,7,1994,yucca comb. turbine,gas,mcf,131028.0,1.023984,2.300,2.290,2.240
40,f1_fuel_1994_12_7_2_4,7,1994,douglas,oil,bbl,535.0,5.841864,39.880,28.080,6.830
41,f1_fuel_1994_12_7_2_7,7,1994,ocotil 1&2,gas,mcf,313773.0,1.021088,2.540,2.530,2.490
42,f1_fuel_1994_12_7_2_11,7,1994,w. phx 1&2,gas,mcf,275636.0,1.020837,2.210,2.210,2.170
43,f1_fuel_1994_12_7_2_13,7,1994,saguaro 1&2,oil,bbl,34.0,5.817630,53.710,52.150,9.230
44,f1_fuel_1994_12_7_2_14,7,1994,saguaro 1&2,gas,mcf,168463.0,1.025843,1.930,1.920,1.880
45,f1_fuel_1994_12_7_3_1,7,1994,"palo verde 1,2,3",nuclear,kgU,1066.0,0.066705,40803.000,1550.000,0.580
46,f1_fuel_1994_12_7_3_7,7,1994,w. phoenix,oil,bbl,2016.0,5.837664,30.410,22.520,5.210
47,f1_fuel_1994_12_7_3_8,7,1994,w. phoenix,gas,mcf,7226661.0,1.020227,2.290,2.290,2.250
48,f1_fuel_1994_12_9_0_2,9,1994,b.l. england,coal,ton,576688.0,24.294000,44.920,43.550,1.859
49,f1_fuel_1994_12_9_0_3,9,1994,b.l. england,waste,ton,2438.0,0.015939,34.180,34.180,1.072
50,f1_fuel_1994_12_9_0_5,9,1994,deepwater,coal,ton,148643.0,24.168000,49.350,45.670,2.042
51,f1_fuel_1994_12_9_0_6,9,1994,deepwater,gas,mcf,816934.0,1.041000,3.860,3.860,3.709
52,f1_fuel_1994_12_9_0_8,9,1994,pch bt 2&3,nuclear,gramsU,204246.0,0.000065,44.000,0.000,0.679
53,f1_fuel_1994_12_9_0_11,9,1994,salem 1 &2,nuclear,gramsU,139013.0,0.000066,41.310,0.000,0.623
54,f1_fuel_1994_12_9_0_14,9,1994,hope ck 1,nuclear,gramsU,61570.0,0.000062,37.510,0.000,0.603
55,f1_fuel_1994_12_9_1_8,9,1994,keystone,coal,ton,100891.0,24.554000,37.290,36.790,1.519
56,f1_fuel_1994_12_9_1_11,9,1994,conemaugh,coal,ton,159698.0,24.878000,31.440,30.120,1.266
57,f1_fuel_1994_12_9_1_12,9,1994,conemaugh,gas,mcf,16899.0,1.030000,3.290,3.290,3.158
58,f1_fuel_1994_12_9_1_13,9,1994,cumberland,oil,bbl,13744.0,5.598138,38.870,38.100,6.944
59,f1_fuel_1994_12_9_1_14,9,1994,cumberland,gas,mcf,816934.0,1.041000,3.860,3.860,3.709
60,f1_fuel_1994_12_9_2_7,9,1994,deepwater,oil,bbl,3390.0,5.610612,31.680,31.680,5.646
61,f1_fuel_1994_12_9_2_11,9,1994,missouri,oil,bbl,13807.0,5.604060,37.770,35.660,6.739
62,f1_fuel_1994_12_9_2_14,9,1994,middle sta,oil,bbl,18579.0,5.602044,35.580,35.490,6.351
63,f1_fuel_1994_12_9_3_8,9,1994,cedar stat,oil,bbl,17169.0,5.604060,35.810,35.680,6.390
64,f1_fuel_1994_12_9_3_10,9,1994,carll's cor,oil,bbl,4074.0,5.599146,36.650,36.370,6.546
65,f1_fuel_1994_12_9_3_11,9,1994,carll's cor,gas,mcf,136418.0,1.040000,2.920,2.920,2.810
66,f1_fuel_1994_12_9_3_13,9,1994,mickleton,oil,NaN,3547.0,5.606160,41.930,41.770,7.480
67,f1_fuel_1994_12_9_3_14,9,1994,mickleton,gas,mcf,154921.0,1.041000,3.550,3.550,3.413
68,f1_fuel_1994_12_9_4_7,9,1994,sherman ae,oil,bbl,7727.0,5.597508,35.820,34.540,6.399
69,f1_fuel_1994_12_10_0_1,10,1994,calvert cliffs,nuclear,gramsU,1573622.0,0.076936,38.070,0.000,0.500
70,f1_fuel_1994_12_10_0_4,10,1994,brandon shores,coal,ton,3504305.0,24.998000,40.560,37.550,1.620
71,f1_fuel_1994_12_10_0_7,10,1994,westport,oil,bbl,256.0,5.786718,33.040,0.000,5.710
72,f1_fuel_1994_12_10_0_10,10,1994,westport,gas,mcf,178240.0,1.041000,2.840,2.840,2.720
73,f1_fuel_1994_12_10_0_14,10,1994,gould street,gas,mcf,1774.0,1.041000,4.820,4.820,4.630
74,f1_fuel_1994_12_10_1_1,10,1994,riverside,gas,mcf,146102.0,1.041000,2.790,2.790,2.680
75,f1_fuel_1994_12_10_1_4,10,1994,riverside,gas,mcf,64.0,1.041000,2.920,2.920,2.810
76,f1_fuel_1994_12_10_1_5,10,1994,riverside,oil,bbl,25174.0,5.668782,29.070,28.040,5.130
77,f1_fuel_1994_12_10_1_7,10,1994,wagner,coal,ton,848825.0,25.976000,42.180,37.540,1.620
78,f1_fuel_1994_12_10_1_9,10,1994,wagner,gas,mcf,1909210.0,1.041000,2.750,2.750,2.640
79,f1_fuel_1994_12_10_1_13,10,1994,crane,coal,ton,720527.0,26.010000,39.970,37.420,1.540
80,f1_fuel_1994_12_10_2_4,10,1994,notch cliff,gas,mcf,198942.0,1.041000,2.890,2.890,2.780
81,f1_fuel_1994_12_10_3_1,10,1994,keystone *,coal,ton,856362.0,24.574000,37.290,0.000,1.520
82,f1_fuel_1994_12_10_3_7,10,1994,conemaugh*,coal,ton,432455.0,24.876000,32.150,0.000,1.290
83,f1_fuel_1994_12_10_3_9,10,1994,conemaugh*,gas,mcf,46562.0,1.036000,3.290,3.290,3.170
84,f1_fuel_1994_12_11_0_6,11,1994,w.f. wyman,other,bbl,55652.0,0.149719,14.685,15.090,2.335
85,f1_fuel_1994_12_12_0_3,12,1994,ben french,gas,mcf,64478.0,1.019000,2.090,2.090,2.050
86,f1_fuel_1994_12_12_0_7,12,1994,bf station,coal,ton,133867.0,16.210000,18.370,17.810,1.130
87,f1_fuel_1994_12_12_0_8,12,1994,bf station,oil,bbl,2201.0,5.670000,29.290,29.290,5.165
88,f1_fuel_1994_12_12_0_9,12,1994,bf station,gas,mcf,5169.0,1.019000,3.173,3.173,3.113
89,f1_fuel_1994_12_12_0_11,12,1994,osage plant,coal,ton,205675.0,16.010000,14.720,14.300,0.919
90,f1_fuel_1994_12_12_0_14,12,1994,wyodak plant,coal,ton,391234.0,15.896000,10.100,9.670,0.635
91,f1_fuel_1994_12_15_0_1,15,1994,kendall,gas,mcf,1420358.0,1.000000,2.371,2.371,2.371
92,f1_fuel_1994_12_15_0_5,15,1994,kendall jets,oil,bbl,3715.0,5.610612,28.415,28.947,5.064
93,f1_fuel_1994_12_16_0_8,16,1994,seabrook 1,nuclear,gramsU,35833.0,61.800000,54.121,54.121,0.088
94,f1_fuel_1994_12_17_0_2,17,1994,cape fear,coal,ton,480608.0,25.280000,48.160,47.530,1.905
95,f1_fuel_1994_12_17_0_8,17,1994,weatherspn,coal,ton,96572.0,24.962000,42.990,42.360,1.722
96,f1_fuel_1994_12_17_0_10,17,1994,w.h. weatherspoon,gas,mcf,89965.0,1.034000,2.940,0.000,2.843
97,f1_fuel_1994_12_17_0_14,17,1994,h. f. lee,coal,ton,354165.0,25.384000,49.710,50.410,1.959
98,f1_fuel_1994_12_17_1_6,17,1994,l. v. sutton,coal,ton,490256.0,25.070000,41.340,40.730,1.649
99,f1_fuel_1994_12_17_1_11,17,1994,h. b. robinson,coal,ton,224820.0,25.094000,50.370,45.260,2.007

In [8]:
fuel_data = raw_fuel_data.copy()

## Question 3

In [11]:
fuel_data.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4

In [12]:
fuel_data.describe(include = "all")

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2001_12_191_1_10,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

## Question 5

In [13]:
#Skewness for the fuel quantity burned
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [15]:
#Kurtosis for the fuel quantity burned
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

## Question 6

In [19]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [27]:
per_miss_val = fuel_data['fuel_unit'].isnull().sum() / (fuel_data['fuel_unit'].count() + fuel_data['fuel_unit'].isnull().sum())

print(per_miss_val * 100)

0.609694136774718

## Question 9

In [43]:
fuel_data.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()

report_year  fuel_type_code_pudl
1994         coal                    14984.572
             gas                     10792.496
             nuclear                227983.354
             oil                      9362.194
             other                     116.737
             waste                      52.762
1995         coal                    14571.785
             gas                      9087.905
             nuclear                384152.639
             oil                     17858.281
             other                     183.577
             waste                    -192.699
1996         coal                    12694.803
             gas                      1467.390
             nuclear                 66657.887
             oil                      5357.028
             other                     160.075
             waste                      88.092
1997         coal                    43742.178
             gas                      1518.471
             nuclear                112593.911
             oil                      5387.536
             other                     153.923
             waste                     137.433
1998         coal                    11902.597
             gas                      7475.596
             nuclear                117788.269
             oil                      2608.657
             other                     225.428
             waste                     238.109
1999         coal                    16303.468
             gas                     16767.895
             nuclear                 62915.808
             oil                     29654.510
             other                     271.579
             waste                     143.025
2000         coal                   100428.831
             gas                     10024.878
             nuclear                112375.382
             oil                    104055.470
             other                     100.014
             waste                    -489.141
2001         coal                    15109.012
             gas                     10360.348
             nuclear                 59292.078
             oil                     95315.421
             other                      71.283
             waste                     217.499
2002         coal                     9171.164
             gas                      3584.279
             nuclear                 59958.884
             oil                     48956.627
             other                      -4.257
             waste                     254.438
2003         coal                    30954.110
             gas                      7170.143
             nuclear                 59591.536
             oil                     51349.250
             other                     -51.286
             waste                     161.973
2004         coal                     9632.063
             gas                      5019.023
             nuclear                 61870.002
             oil                    107669.303
             other                     174.796
             waste                     272.512
2005         coal                    11107.182
             gas                      3833.652
             nuclear                 94192.368
             oil                     26401.284
             other                      76.196
             waste                     313.457
2006         coal                    12402.684
             gas                      3598.417
             nuclear                141240.473
             oil                     30285.707
             other                     190.904
             waste                     423.847
2007         coal                    12965.171
             gas                      3867.366
             nuclear                154945.333
             oil                     83766.316
             other                     143.112
             waste                     427.014
2008         coal                    14331.348
             gas                     16087.669
             nuclear                226552.820
             oil                     56654.223
             other                     211.940
             waste                     474.022
2009         coal                    45554.858
             gas                     11193.089
             nuclear                172823.881
             oil                     33068.327
             other                     204.527
             waste                     739.884
2010         coal                    88627.745
             gas                      4240.494
             nuclear                202133.032
             oil                     35503.392
             other                     321.647
             waste                     755.157
2011         coal                    17001.015
             gas                      3264.968
             nuclear                229824.926
             oil                    123477.065
             other                      89.717
             waste                     517.912
2012         coal                    17546.097
             gas                      3420.876
             nuclear                240648.791
             oil                     59263.866
             other                     224.123
             waste                     589.791
2013         coal                    17629.860
             gas                      2982.281
             nuclear                243192.226
             oil                     42336.964
             other                     182.494
             waste                     609.411
2014         coal                    15412.197
             gas                      4169.285
             nuclear                229158.129
             oil                    268670.603
             other                       0.661
             waste                     591.594
2015         coal                    13338.235
             gas                      6224.304
             nuclear                208830.486
             oil                     31038.094
             other                       0.595
             waste                     629.270
2016         coal                    11100.925
             gas                      1994.266
             nuclear                213837.559
             oil                     28012.376
             other                       0.609
             waste                     539.079
2017         coal                    10254.284
             gas                      4424.244
             nuclear                197491.493
             oil                     31935.723
             waste                     452.079
2018         coal                     9488.197
             gas                      4322.494
             nuclear                173267.161
             oil                     33836.602
             waste                     660.972
Name: fuel_cost_per_unit_burned, dtype: float64

In [47]:
per_change = (11902.597 - 14984.572)/14984.572 *100

per_change

-20.567654518260518

## Question 10

In [84]:
fuel_data.groupby(['report_year'])['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

## Question 8

In [77]:
corr_fuel_data = fuel_data.corr()
corr_fuel_data

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [80]:
corr_fuel = pd.DataFrame(corr_fuel_data.iloc[:,4])
corr_fuel

                              fuel_cost_per_unit_burned
utility_id_ferc1                              -0.037863
report_year                                    0.013599
fuel_qty_burned                               -0.018535
fuel_mmbtu_per_unit                           -0.010034
fuel_cost_per_unit_burned                      1.000000
fuel_cost_per_unit_delivered                   0.011007
fuel_cost_per_mmbtu                           -0.000437

In [82]:
corr_fuel.nsmallest(3,'fuel_cost_per_unit_burned')

                     fuel_cost_per_unit_burned
utility_id_ferc1                     -0.037863
fuel_qty_burned                      -0.018535
fuel_mmbtu_per_unit                  -0.010034