<a href="https://colab.research.google.com/github/Tayme1015/Hamoye/blob/master/Stage_B_Quiz_Temilade_Adeoye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stage B Quiz

## Appliances Energy Prediction Data Set

### Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

### Load the dataset

In [ ]:
raw_AE_df = pd.read_csv("energydata_complete.csv")

column_names = {'T1': 'Temp_Kitchen', 'RH_1': 'Humidity_Kitchen',
                'T2': 'Temp_Living_Rm', 'RH_2': 'Humidity_Living_Rm',
                'T3': 'Temp_Laundry_Rm','RH_3': 'Humidity_Laundry_Rm', 
                'T4': 'Temp_Office', 'RH_4': 'Humidity_Office', 
                'T5': 'Temp_Bathroom', 'RH_5': 'Humidity_Bathroom', 
                'T6': 'Temp_north_side', 'RH_6': 'Humidity_north_side', 
                'T7':'Temp_Ironing_Rm', 'RH_7': 'Humidity_Ironing_Rm',
                'T8': 'Temp_Teens_Rm', 'RH_8': 'Humidity_Teens_Rm', 
                'T9': 'Temp_Parents_Rm', 'RH_9': 'Humidity_Parents_Rm', 
                'T_out': 'Temp_Outside', 'RH_out':'Humidity_Outside',
                'Windspeed':'Windspeed_m/s', 'Visibility': 'Visibility_km', 
                'rv1': 'Random_Variable_1', 'rv2': 'Random_Variable_2'}

raw_AE_df =raw_AE_df.rename(columns = column_names)
raw_AE_df.columns.values

array(['date', 'Appliances', 'lights', 'Temp_Kitchen', 'Humidity_Kitchen',
       'Temp_Living_Rm', 'Humidity_Living_Rm', 'Temp_Laundry_Rm',
       'Humidity_Laundry_Rm', 'Temp_Office', 'Humidity_Office',
       'Temp_Bathroom', 'Humidity_Bathroom', 'Temp_north_side',
       'Humidity_north_side', 'Temp_Ironing_Rm', 'Humidity_Ironing_Rm',
       'Temp_Teens_Rm', 'Humidity_Teens_Rm', 'Temp_Parents_Rm',
       'Humidity_Parents_Rm', 'Temp_Outside', 'Press_mm_hg',
       'Humidity_Outside', 'Windspeed_m/s', 'Visibility_km', 'Tdewpoint',
       'Random_Variable_1', 'Random_Variable_2'], dtype=object)

In [ ]:
#drop the date & lights column

AE_df = raw_AE_df.drop(columns = ['date', 'lights'])

AE_df.head()

,Appliances,Temp_Kitchen,Humidity_Kitchen,Temp_Living_Rm,Humidity_Living_Rm,Temp_Laundry_Rm,Humidity_Laundry_Rm,Temp_Office,Humidity_Office,Temp_Bathroom,...,Temp_Parents_Rm,Humidity_Parents_Rm,Temp_Outside,Press_mm_hg,Humidity_Outside,Windspeed_m/s,Visibility_km,Tdewpoint,Random_Variable_1,Random_Variable_2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Normalize the Data

In [ ]:
scaler = MinMaxScaler()

normalised_df = pd.DataFrame(scaler.fit_transform(AE_df), columns = AE_df.columns)

### Separate Features and Targets

In [ ]:

features_df = normalised_df.drop(columns = ['Appliances'])

target = normalised_df['Appliances']

### Split the dataset 70:30 for training & testing

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(features_df, target, test_size= 0.3 , random_state= 42 )

### Carry out Multiple Linear Regression on the Training Set to obtain a model

In [ ]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression() 

#fit the model to the training dataset 
linear_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Obtain Predictions

In [ ]:
predicted_values = linear_model.predict(x_test)

### Question17

In [ ]:
weights = pd.Series(linear_model.coef_, x_train.columns).sort_values()
weights_df = pd.DataFrame(weights).reset_index()
weights_df.columns = ['Features', 'Linear Model Regression']
weights_df['Linear Model Regression'].round(3)
weights_df

               Features  Linear Model Regression
0    Humidity_Living_Rm                -0.456698
1          Temp_Outside                -0.321860
2        Temp_Living_Rm                -0.236178
3       Temp_Parents_Rm                -0.189941
4     Humidity_Teens_Rm                -0.157595
5      Humidity_Outside                -0.077671
6   Humidity_Ironing_Rm                -0.044614
7   Humidity_Parents_Rm                -0.039800
8         Temp_Bathroom                -0.015657
9          Temp_Kitchen                -0.003281
10    Random_Variable_1                 0.000770
11    Random_Variable_2                 0.000770
12          Press_mm_hg                 0.006839
13      Temp_Ironing_Rm                 0.010319
14        Visibility_km                 0.012307
15    Humidity_Bathroom                 0.016006
16      Humidity_Office                 0.026386
17          Temp_Office                 0.028981
18        Windspeed_m/s                 0.029183
19  Humidity_north_side                 0.038049
20  Humidity_Laundry_Rm                 0.096048
21        Temp_Teens_Rm                 0.101995
22            Tdewpoint                 0.117758
23      Temp_north_side                 0.236425
24      Temp_Laundry_Rm                 0.290627
25     Humidity_Kitchen                 0.553547

### Regression Performance

In [ ]:
#Mean Absolute Error
mae = round(mean_absolute_error(y_test, predicted_values),3)

#Residual Sum of Squares (RSS)
rss = round(np.sum(np.square(y_test - predicted_values)),3)

#Root Mean Square Error
rmse = round(np.sqrt(mean_squared_error(y_test, predicted_values)),3)

#R-Squared
r2 = round(r2_score(y_test, predicted_values),3)

reg_per = pd.DataFrame([{'mae': mae, 'rss': rss, 'rmse': rmse, 'r2': r2}])
reg_per

    mae     r2   rmse     rss
0  0.05  0.149  0.088  45.348

### Question 12

In [ ]:
Q12feature = normalised_df['Temp_Living_Rm']
Q12target = normalised_df['Temp_north_side']

In [ ]:
from sklearn.model_selection import train_test_split 

Q12_x_train, Q12_x_test, Q12_y_train, Q12_y_test = train_test_split(Q12feature, Q12target, test_size= 0.3 , random_state= 42 )

Q12_x_train_shape = np.array(Q12_x_train).reshape((-1, 1))
Q12_x_test_shape =  np.array(Q12_x_test).reshape((-1, 1))

In [ ]:
#Train the model

regr = LinearRegression()

regr.fit(Q12_x_train_shape , Q12_y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Make predictions
Q12_y__predicted = regr.predict(Q12_x_test_shape)

In [ ]:
#The R^2

Q12_r2 = r2_score(Q12_y_test, Q12_y__predicted)
round(Q12_r2, 2)

0.64

### Question 13

In [ ]:
#Mean Absolute Error

Q12_mae = mean_absolute_error(Q12_y_test, Q12_y__predicted)
round(Q12_mae,2)

0.08

### Question 14

In [ ]:
#Residual Sum of Squares

Q12_rss = np.sum(np.square(Q12_y_test - Q12_y__predicted))

round(Q12_rss,2)

66.12

### Question 15

In [ ]:
#Root Mean Square Error

Q12_rmse = np.sqrt(mean_squared_error(Q12_y_test, Q12_y__predicted))

round(Q12_rmse,3)

0.106

### Question 18

In [ ]:
ridge_reg = Ridge(alpha = 0.4)

ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [ ]:
ridge_y_predicted = ridge_reg.predict(x_test) 

ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_y_predicted))

round(ridge_rmse,3)

0.088

### Question 19

In [ ]:
lasso_reg = Lasso(alpha = 0.001)

lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
lasso_y_predicted = lasso_reg.predict(x_test) 

lasso_weights = pd.Series(lasso_reg.coef_, x_train.columns).sort_values()
lasso_weights_df = pd.DataFrame(lasso_weights).reset_index()
lasso_weights_df.columns = ['Features', 'Lasso Regression']
lasso_weights_df['Lasso Regression'].round(3)
lasso_weights_df

               Features  Lasso Regression
0      Humidity_Outside         -0.049557
1     Humidity_Teens_Rm         -0.000110
2          Temp_Kitchen          0.000000
3             Tdewpoint          0.000000
4         Visibility_km          0.000000
5           Press_mm_hg         -0.000000
6          Temp_Outside          0.000000
7   Humidity_Parents_Rm         -0.000000
8       Temp_Parents_Rm         -0.000000
9         Temp_Teens_Rm          0.000000
10  Humidity_Ironing_Rm         -0.000000
11    Random_Variable_1         -0.000000
12      Temp_Ironing_Rm         -0.000000
13      Temp_north_side          0.000000
14    Humidity_Bathroom          0.000000
15        Temp_Bathroom         -0.000000
16      Humidity_Office          0.000000
17          Temp_Office         -0.000000
18  Humidity_Laundry_Rm          0.000000
19      Temp_Laundry_Rm          0.000000
20   Humidity_Living_Rm         -0.000000
21       Temp_Living_Rm          0.000000
22  Humidity_north_side         -0.000000
23    Random_Variable_2         -0.000000
24        Windspeed_m/s          0.002912
25     Humidity_Kitchen          0.017880

### Question 20

In [ ]:
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_y_predicted))

round(lasso_rmse,3)

0.094